@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
}

.cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  gap: 1rem;
}

h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5vh;
}
